<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::html_head" />

<body>
<div id="app">
    <div th:replace="fragments::menu"/>
    <div id="main">
        <div class="page-heading">
            <section class="section">
                <div class="row" id="table-striped">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><strong>Liste des approvisionnements</strong></h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-3">
                                            <a th:href="@{/approvisionnement/show/}" class="btn btn-outline-success">Tous les approvisionnements</a>
                                        </div>
                                        <div class="col-3">
                                            <a th:href="@{/approvisionnement/create/}" class="btn btn-outline-secondary ">Nouvel approvisionnement</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- table striped -->
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Libelle</th>
                                            <th scope="col">Qte Stock</th>
                                            <th scope="col">Qte Seuil</th>
                                            <th scope="col">Prix</th>
                                            <th scope="col">Date Création</th>
                                            <th scope="col">Catégorie</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each = "produit, key:${listproduits}">
                                            <th scope="row" th:text="${key.index + 1}"></th>
                                            <td th:text="${produit.libelle}"></td>
                                            <td th:text="${produit.qteStock}"></td>
                                            <td th:text="${produit.qteSeuil}"></td>
                                            <td th:text="${produit.prix}"></td>
                                            <td th:text="${produit.dateCreation}"></td>
                                            <td th:text="${produit.category.designation}"></td>
                                            <td>
                                                <a th:href="@{/approvisionnement/app/{id}(id=${produit.id})}" class="btn btn-outline-success">Approvisionner</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/assets/js/mazer.js}"></script>
</body>
</html>