<!DOCTYPE html>
<html lang="en" xm>
<head>
    <meta charset="UTF-8">
    <title>Liste des approvisionnements</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/home}">
            <h4>
                <strong>
                    Gestion
                </strong>
            </h4>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"th:href="@{/home}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/category/show}">Catégories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/produit/show}">Produits</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"  th:href="@{/approvisionnement/show}">Approvisionnements</a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
    <div class="container">
        <h2>Liste des approvisionnements</h2>
        <a th:href="@{/approvisionnement/create/}" class="btn btn-warning">Créer un nouvel approvisionnement</a>
        <table class="table table-striped table-hover">
            <thead >
            <tr>
                <th scope="col">#</th>
                <th scope="col">Quantité</th>
                <th scope="col">Date Ajout</th>
                <th scope="col">Produits</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each = "app:${unApp}">
                <th scope="row" th:text="${app.id}"></th>
                <td th:text="${app.libelle}"></td>
                <td th:text="${app.dateApp}"></td>
                <td th:text="${app.produit.libelle}"></td>
                <td>
                    <a th:href="@{/produit/edit/{id}(id=${app.id})}" class="btn btn-warning">Edit</a>
                    <a th:href="@{/produit/delete/{id}(id=${app.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>