<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::html_head" />

<body>
<div id="app">
    <div th:replace="fragments::menu"/>
    <div id="main">
        <div class="page-heading">
            <section class="section">
                <div class="row" id="table-striped">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><strong>Liste des approvisionnements</strong></h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-3">
                                            <a th:href="@{/approvisionnement/create/}" class="btn btn-outline-success">Créer un nouvel approvisionnement</a>
                                        </div>
                                        <div class="col-3">
                                            <a th:href="@{/approvisionnement/showrupt/}" class="btn btn-outline-danger">Liste des produits en rupture</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- table striped -->
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Quantité</th>
                                            <th scope="col">Date Ajout</th>
                                            <th scope="col">Produits</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each = "app, key:${listApp}">
                                            <th scope="row" th:text="${key.index + 1}"></th>
                                            <td th:text="${app.quantite}"></td>
                                            <td th:text="${app.dateApp}"></td>
                                            <td th:text="${app.produit.libelle}"></td>
                                            <td>
                                                <a th:href="@{/approvisionnement/edit/{id}(id=${app.id})}" class="btn btn-outline-primary">Edit</a>
                                                <a th:href="@{/approvisionnement/delete/{id}(id=${app.id})}" class="btn btn-outline-danger">Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/assets/js/mazer.js}"></script>
</body>
</html>
