<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::html_head" />

<body>
    <div id="app">
        <div th:replace="fragments::menu"/>
        <div id="main">
            <section id="basic-horizontal-layouts">
                <div class="row match-height">
                    <div class="col-md-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">suppression d'un produit</h4>
                                <h3>Etes vous sûr de supprimer cet article?</h3>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form form-horizontal" th:action="@{/produit/delete/{id}(id=${id})}" th:object="${leProduit}" method="post">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Libellé</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" th:field="*{libelle}" class="form-control"
                                                           placeholder="Libellé du produit">
                                                </div>

                                                <div class="col-md-4">
                                                    <label>Quantité seuille</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" th:field="*{qteSeuil}" class="form-control"
                                                           placeholder="Quantité seuille">
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Prix</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text"  th:field="*{prix}" class="form-control"
                                                           placeholder="Prix du produit">
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="hidden" th:field="*{id}" class="form-control">
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="hidden" th:field="*{dateCreation}" class="form-control" hidden>
                                                    <input type="hidden" th:field="*{qteStock}" class="form-control" hidden>
                                                    <input type="hidden" th:field="*{categoryId}" class="form-control" hidden>
                                                </div>
                                                <div class="col-sm-12 d-flex justify-content-end">
                                                    <button type="submit" class="btn btn-primary me-1 mb-1">Valider</button>
                                                    <button type="reset"
                                                            class="btn btn-light-secondary me-1 mb-1">Annuler</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

<div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="container col-6 mb-5">
            <h2><strong>Formulaire de </strong></h2>
            <form  method="post">
                <div class="mb-3">
                    <input type="number" th:field="*{id}" class="form-control" name="id" hidden>
                </div>
                <div class="mb-3">
                    <label class="form-label">Libelle</label>
                    <input type="text" th:field="*{libelle}" class="form-control" name="libelle" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Quantité seuil</label>
                    <input type="number" th:field="*{qteSeuil}" class="form-control" name="qteSeuil" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Prix</label>
                    <input type="number" th:field="*{prix}" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Date de création</label>
                    <input type="text" th:field="*{dateCreation}" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Quantité en stock</label>
                    <input type="number" th:field="*{qteStock}" class="form-control" readonly>
                </div>
                <div class="mb-3">
                    <label class="form-label">Catégorie du produit</label>
                    <input type="text" th:field="*{category.designation}" class="form-control" readonly>
                </div>
                <button type="submit" class="btn btn-outline-primary">Supprimer</button>
                <a th:href="@{/produit/show}" class="btn btn-outline-secondary">Retour</a>
            </form>
        </div>
    </main>
</div>

<script th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/assets/js/mazer.js}"></script>
</body>
</html>
