<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::html_head" />

<body>

    <div id="app">
        <div th:replace="fragments::menu"/>
        <div id="main">
            <section id="basic-horizontal-layouts">
                <div class="row match-height">
                    <div class="col-md-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Enregistrer un nouveau produit</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <form class="form form-horizontal" th:action="@{/produit/save}" method="post">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <label>Catégories</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <select name="categoryId" required>
                                                        <option value="">Sélectionner une catégorie</option>
                                                        <option th:each="category:${listCategories}"
                                                                th:value="${category.id}"
                                                                th:text="${category.designation}">
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Libellé</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="text" class="form-control" placeholder="Libelle du produit" name="libelle" required>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Quantité seuille</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="number" class="form-control" th:min="0" placeholder="Quantité du produit" name="qteSeuil" required>
                                                </div>
                                                <div class="col-md-4">
                                                    <label>Prix</label>
                                                </div>
                                                <div class="col-md-8 form-group">
                                                    <input type="number" th:min="0" class="form-control" placeholder="Prix du produit" name="prix" required>
                                                </div>
                                                <div class="col-sm-12 d-flex justify-content-end">
                                                    <button type="submit" class="btn btn-primary me-1 mb-1">Valider</button>
                                                    <button type="reset"
                                                            class="btn btn-light-secondary me-1 mb-1">Annuler</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
<script th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/assets/js/mazer.js}"></script>
</body>
</html>
