<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::html_head" />

<body>

<div id="app">
    <div th:replace="fragments::menu"/>
    <div id="main">
        <div class="page-heading">
            <section class="section">
                <div class="row" id="table-striped">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title"><strong>Liste des catégories</strong></h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="row">
                                        <a th:href="@{/category/create/}" class="btn btn-outline-success">Créer une nouvelle catégorie</a>
                                    </div>
                                </div>
                                <!-- table striped -->
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0">
                                        <thead>
                                        <tr>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Désignation</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr th:each = "category, key:${listCategories}">
                                            <th scope="row" th:text="${key.index + 1}"></th>
                                            <td th:text="${category.designation}"></td>
                                            <td>
                                                <a th:href="@{/category/edit/{id}(id=${category.id})}" class="btn btn-outline-primary">Edit</a>
                                                <a th:href="@{/category/delete/{id}(id=${category.id})}" class="btn btn-outline-danger">Delete</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/assets/js/mazer.js}"></script>
</body>
</html>
