<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::html_head" />

<body>
<div th:replace="fragments::header"/>

<div th:replace="fragments::menu"/>

<div class="row">
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <h2><strong>Formulaire de saisie de la vente</strong></h2>
        <form th:action="@{/vente/save}" method="post">
            <div>
                <label class="form-label">Article</label>
                <select name="produit" required>
                    <option value="">Choisissez un article</option>
                    <option th:each="produit:${listProduit}"
                            th:value="${produit.id}"
                            th:text="${produit.libelle}"
                            id="prd">
                    </option>
                </select>
                <div class="mb-3">
                    <label class="form-label">Quantité</label>
                    <input type="number" th:min="0" class="form-control" placeholder="Quantité" name="quantite" required>
                </div>
            </div>
            <button type="submit" class="btn btn-outline-secondary mb-2">Continuer</button>
            <a th:href="@{/vente/savet}" class="btn btn-outline-primary mb-2">Terminer</a>
        </form>
    </main>
</div>

<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/assets/dist/js/bootstrap.bundle.min.js}"/>
<script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
        integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"
        integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha"
        crossorigin="anonymous">
</script><script th:src="@{/css/dashboard.js}"></script>
</body>
</html>

<!--<div class="row" th:each="produit:${listProduit}">
    <div class="col-3">
        <label class="form-label">Article</label>
        <input th:value="${produit.libelle}" th:readonly="true" th:id="${produit.id}" type="text" class="form-control">
    </div>
    <div class="mb-3 col-3">
        <label class="form-label">Quantité</label>
        <input type="number" th:min="0" class="form-control" placeholder="Quantité" name="quantite" th:id="${produit.id}"  required>
    </div>
    <div class="col-6">
        <input type="hidden" value="toto">
    </div>
</div>-->