<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments::html_head" />

<body>

<div id="app">
    <div th:replace="fragments::menu"/>
    <div id="main">
        <section id="basic-horizontal-layouts">
            <div class="row match-height">
                <div class="col-md-12 col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Enregistrer un nouveau produit pour la vente</h4>
                        </div>
                        <div class="card-content">
                            <div class="card-body">
                                <form class="form form-horizontal" th:action="@{/vente/savef}" method="post">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Articles</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <select name="produit" required>
                                                    <option value="">Choisissez un article</option>
                                                    <option th:each="produit:${listProduit}"
                                                            th:value="${produit.id}"
                                                            th:text="${produit.libelle}">
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Quantité</label>
                                            </div>
                                            <div class="col-md-8 form-group">
                                                <input type="number" th:min="0" class="form-control" id="email-id" placeholder="Quantité" name="quantite" required>
                                            </div>
                                            <div class="col-sm-12 d-flex justify-content-end">
                                                <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                                                <button type="reset"
                                                        class="btn btn-light-secondary me-1 mb-1">Reset</button>
                                                <!--<a th:href="@{/vente/saveft/{id} (id=${produit.id})}" class="btn btn-outline-primary mb-2">Terminer</a>-->
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<script th:src="@{/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/assets/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/assets/js/mazer.js}"></script>

</body>
</html>
